.header
{
    z-index: 1;
    color: #000;
    background: #FFF;   
    height: 70px;
    line-height: 70px;
    width: 100%;
    /*transition: color .4s ease-in-out;*/
}

.header .linkblock
{
    position: absolute;
    right: 50px;
    /*margin-top: 25px;*/
}

.header .link
{
    text-decoration: none;
    color: #000;
    margin: 10px 40px;
}

.header .link:hover
{
    text-decoration: underline;
}

.title
{
    float: left;
    padding-left: 30px;
    font-size: 1.0em;
}

.title > a
{   
    text-decoration: none;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    padding: 10px 30px;
    color: #000;
}

a:hover
{
    text-decoration: underline;
}

.footer
{
    height: 100px;
    background: #000;
}

.footer p
{
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    padding-top: 60px;
    color: #FFF;
}